
<mat-grid-list  cols="3" rowHeight="2:1" gutterSize="20px">
  <mat-grid-tile>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>meenusoft</mat-card-title>
      <mat-card-subtitle>meenusoft</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      meenusoft
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>meenusoft</button>
    </mat-card-actions>
  </mat-card>  
  
  </mat-grid-tile> 
  
  




 <mat-grid-tile>

<mat-card class="card">
    <mat-card-header>
      <mat-card-title>maddy</mat-card-title>
      <mat-card-subtitle>maddy</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      This content Design by Ng developer
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>MEENUSOFT </button>
    </mat-card-actions>
  </mat-card>  
  
 </mat-grid-tile> 


 <mat-grid-tile>

    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>MEENUSOFT</mat-card-title>
          <mat-card-subtitle>MEENUSOFT</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          This content Design by Madhav Ng developer
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>ADD</button>
        </mat-card-actions>
      </mat-card>  
      
     </mat-grid-tile> 

     <mat-grid-tile>

        
          
         </mat-grid-tile> 



  
 </mat-grid-list>
   